<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"charset="utf-8">
		<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/Footer-white.css">
		<style>
			body  {
				background-image: url("../static/image/tbl_content.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		</style>
	</head>

	<body>
		<header>
			<div class="navigation" style="background-color: hsla(69, 47%, 100%, 0.55);
		    top: 0;
			width: 100%;
			padding: 30px;
			position: fixed;
		    overflow: hidden;
		    float: left;
		    margin-bottom: 10px;">
				<p class="navi_element" style="font-family: helvetica;
				font-size: 25px;
				color: black;
				float: left;
			    margin-left: 2%"><a href="index" style="color: black;
			    font-weight: bold; font-size: 30px;">Home</a></p>
	 			<p class="navi_element" style="font-family: helvetica;
				font-size: 25px;
				color: black;
				float: left;
			    margin-left: 2%"><a href="AboutUs" style="color: black;
			    font-weight: bold; font-size: 30px;">About Us</a></p>
	 			<p class="navi_element" style="font-family: helvetica;
				font-size: 25px;
				color: black;
				float: left;
			    margin-left: 2%"><a href="ContactUs" style="color: black;
			    font-weight: bold; font-size: 30px;">Contact Us</a></p>
	 		</div>
		</header>

		<div class="content">
			<p class = "contact-info" >
				This website is created by Rong Huang.  <br><br>
				If you have any questions, please email her at ronghuang0604@gmail.com  <br> <br>
				Thank you for visiting this website :)
			</p>
		</div>

		<footer id="myFooter" style="position:absolute;
		bottom:0;
		width:100%;
		height:100px;">
			<div class="container" style="text-align: center;">
				<ul style="list-style-type: none;
				padding: 0;
				margin-bottom: 18px;">
					<li><a href="index" style="color: #282b2d;
					font-size: 18px;">Home</a></li>
					<li><a href="ContactUs" style="color: #282b2d;
					font-size: 18px;">Contact us</a></li>
					<li><a href="AboutUs" style="color: #282b2d;
					font-size: 18px;">About Us</a></li>
				</ul>
			<p class="footer-copyright" style="margin-bottom: 35px; text-align: center; color: black;">© 2017 Copyright</p>
			</div>
			<div class="footer-social">
				<a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
			</div>
		</footer>


	</body>
</html>
